<html ng-app="myDogApp">

<head>
  <title> Dog Test </title>
  <script src="node_modules\angular\angular.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald" rel="stylesheet">
  <script src="DogService.js"> </script>

  <script src="app.js">
  </script>
</head>


<body style="background-color:	#87CEFA;">

  <div class="jumbotron">
    <h1 style="font-family: Lobster;" class="display-3">Dog App</h1>
    <p style="font-family: Lobster;">By Victor Tran</p>
    <p style="font-family: Lobster;">Click the button "New Dog" below to start!</p>
    <p style="font-family: Lobster;">Click the button "Keep Dog" if you wish to keep the Dog</p>
  </div>


  <div ng-controller="DogController">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-10" style="text-align:center;">
          <div>
            <h4 style="font-family: Oswald;"> Press "New Dog" to display a Dog </h4>
            <img ng-src="{{randomDog.message}}" height="200" width="300">
          </div>
        </div>




        <div class="col-xs-10 col-sm-8 col-md-10" style="padding-top: 40px; text-align:center;">
          <input style="font-family: Oswald; text-align:center;" type="text" class="input-lg" placeholder="Name The Dog" ng-model="randomDog.name">
        </div>
        <div class="col-xs-10 col-sm-8 col-md-10" style="padding-top: 40px; text-align:center;">
          <button style="font-family: Oswald;" type="button" ng-click="myFunc()" class="btn btn-primary  btn-lg">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
           New Dog
          </button>
          <button style="font-family: Oswald;" type="button" ng-click="keepDogs()" class="btn btn-warning  btn-lg">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            Keep Dog
          </button>
        </div>
      </div>


      <h2 class="col-xs-10 col-sm-8 col-md-10" style="font-family: Oswald; padding-top: 40px; text-align:center;"> Favorite Dogs </h2>
      <div class="col-xs-10 col-sm-8 col-md-10" style="padding-top: 40px; text-align:center;" ng-repeat="dog in allDogs track by $index">
        <div ng-click="myName(dog)">
          <img class="img-circle" ng-src="{{dog.message}}" height="200" width="200">
          <button type="button" class="btn btn-danger" ng-click="deleteDog(dog.id)"> x </button>
        </div>
        <div>
          <h3 style="font-family: Oswald; text-align:center;">{{dog.name}} </h3>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
